@keyframes handRotation {
    from   {transform: rotateZ(0deg);}
    to  {transform: rotateZ(359deg);}
}

* {
    margin: 0;
}

.logo {
    max-width: 256px;
    transition: all .2s;
}
.logo:hover {
    filter: brightness(1.2);
    transform: scale(1.1);
}
header {
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 16px 0px #c2c2c2;
    display: flex;
    justify-content: space-between;
    left: 0;
    max-height: 128px;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

main {
    margin: 128px 0;
    padding: 2rem;
}

footer {
    align-items: center;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 2rem;
    position: fixed;
    right: 0;
}

#clock {
    background-image: url(clock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 40vh;
    justify-content: center;
    margin-bottom: 12rem;
    padding: 5rem;
}

#clock img {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: handRotation;
    animation-timing-function: linear;
}

#table {
    margin-bottom: 12rem;
}

#table thead {
    text-align: left;
}

#table tbody tr:nth-child(odd) {
    background-color: yellow;
}
#table tbody tr:nth-child(even) {
    background-color: transparent;
}

a {
    color: black;
    font-family: system-ui;
    font-size: 2rem;
    text-decoration: none;
}

a:hover {
    color: black;
    font-family: system-ui;
    font-size: 2rem;
    text-decoration: none;
}
a:active {
    color: RED;
}